@page
@model VehicleQuotes.AdminPortal.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].ItMoves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].HasKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].HasTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].RequiresPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].OfferedQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quotes[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quotes) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItMoves)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiresPickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferedQuote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
